.popup-content {
    font-family: Arial, sans-serif;
    color: #333;
}
.popup-header {
    margin: 0;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}
.popup-body {
    padding: 10px;
}
.popup-body p {
    margin: 5px 0;
}

body {
     margin: 0;
      padding: 0; 
}
#map {
    position: absolute; 
    top: 0; 
    bottom: 0;
    width: 100%;
    }

    body {
    margin: 0;
    padding: 0;
}
    
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#welcome-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    text-align: center;
    padding: 20px;
    opacity: 1;
    transition: opacity 0.5s ease;
    font-family: 'Share Tech', sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-shadow: 8px 8px 10px #3a28288c;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}

#welcome-page.hidden {
    opacity: 0;
    pointer-events: none;
}

#welcome-page h1 {
    font-size: 2em;
    margin-bottom: 20px;
    animation: fadeInDown 1s;
}

#welcome-page p {
    font-size: 1.2em;
    margin-bottom: 20px;
    animation: fadeInUp 1s;
}

#welcome-page button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: #fff;
    border: none;
    border-radius: 5px;
    animation: fadeInUp 1s;
}

#welcome-page button:hover {
    background-color: #2980b9;
}
    
    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    

    @media (max-width: 768px) {
            .h1 {
                
            width: 80%;
            margin-right: 10%;
            position: relative;
        }
        .p {
            width: 90%;
            margin-right: 5%;
        }
        .btn {
            width: 40%;
            margin-right: 10%;
        }
        
    }